
section {
    height: 100dvh;
    width: 100%;

    background: url('./../../../assets/img/1_hero/JPG/hero_bg.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    flex-direction: column;
}

div {
    width: 100%;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 96px;
    font-family: "Raleway";
}

p {
    color: white;
    font-size: 24px;
    font-family: "Raleway";
}