<header>
    <img src="assets/img/1_hero/PNG/sakura_logo.png" alt="Sakura Ramen Logo">
    <nav>
        <a href="">MENU</a>
        <a href="">LOCATIONS</a>
        <a href="">ABOUT</a>
        <div class="call-btn">
            <img src="assets/img/1_hero/PNG/phone.png" alt="Telefonhörer">
            <a href="tel:+4917654564534">0176 54564534</a>
        </div>
    </nav>
</header>

<!-- <nav>
    <img src="./../../../assets/img/1_hero/PNG/sakura_logo.png" alt="Sakura Ramen Logo">
    <div>
        <a href="">MENU</a>
        <a href="">LOCATIONS</a>
        <a href="">ABOUT</a>
        <div class="call-btn">
            <img src="./../../../assets/img/1_hero/PNG/phone.png" alt="Telefonhörer">
            <a href="tel:+4917654564534">0176 54564534</a>
        </div>
    </div>
</nav> -->