section {
    height: 144px;
    background: #0A141E;
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 44px;
    width: auto;
}

a {
    color: white;
    font-family: "Raleway";
    font-size: 18px;
}