<section>
    <h2>OUR MENU</h2>
    <div class="menu-point">
        <img src="././../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
        <div>
            <h3>Tonkotsu Ramen</h3>
            <div class="menu-pricing">
                <div>
                    <p>CHICKEN</p>
                    <p>BEEF</p>
                    <p>SHRIMP</p>
                </div>
                <div>
                    <p>11.95 €</p>
                    <p>12.95 €</p>
                    <p>13.95 €</p>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-point">
        <div>
            <h3>Spicy Miso Ramen</h3>
            <div class="menu-pricing">
                <div>
                    <p>CHICKEN</p>
                    <p>BEEF</p>
                    <p>SHRIMP</p>
                </div>
                <div>
                    <p>11.95 €</p>
                    <p>12.95 €</p>
                    <p>13.95 €</p>
                </div>
            </div>
        </div>
        <img src="././../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
    </div>
    <div class="menu-point">
        <img src="././../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
        <div>
            <h3>Shio Ramen</h3>
            <div class="menu-pricing">
                <div>
                    <p>CHICKEN</p>
                    <p>BEEF</p>
                    <p>SHRIMP</p>
                </div>
                <div>
                    <p>11.95 €</p>
                    <p>12.95 €</p>
                    <p>13.95 €</p>
                </div>
            </div>
        </div>
    </div>
</section>

