<section>
    <h2>HOW TO ORDER</h2>
    <div id="order-steps">
        <div class="order-step">
            <img src="assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <h3>Pick your <br>noodle</h3>
        </div>
        <div class="order-step">
            <img src="assets/img/2_section_how_to_order/PNG/broth.png" alt="">
            <h3>Pick your <br>broth</h3>
        </div>
        <div class="order-step">
            <img src="assets/img/2_section_how_to_order/PNG/egg.png" alt="">
            <h3>Add your <br>toppings</h3>
        </div>
    </div>
</section>
